<i class="bi bi-dice-6-fill" (click)="startDiceRoller(diceRollerModal)"></i>

<ng-template #diceRollerModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Roll Dice</h4>
    <button type="button" class="close-button" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="roll-row" *ngFor="let roll of rolls">
      <span class="roll-source">{{roll.source}}</span>
      <span class="roll-dice">{{roll.dice}}d{{roll.pips}}<span *ngIf="roll.multiplier &gt; 1">x{{roll.multiplier}}</span><span *ngIf="roll.modifier &gt; 0">+{{roll.modifier}}</span></span>
      <input class="roll-input field-sm" type="number" [(ngModel)]="roll.value"/>
      <button class="roll-button" (click)="rollDice(roll)">Roll Dice</button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="closeDiceRoller()">Close</button>
  </div>
  <div id="dice-box"></div>
</ng-template>
